font-family: 'Hind Siliguri', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

p{
    line-height: 1.5;
}

ul{
    list-style-type: none;
    display: flex;
}

/*body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 2fr 1fr 100px;
    grid-template-areas: 
    "header header header"
    "main   main   . "
    "footer footer footer";
}
*/


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    grid-area: header;
    color: white;
    background-image: linear-gradient(to button, blue, purple);
    /*background-color: rgb(33, 143, 143);*/
    padding: 30px 20px;
    
}

.header__content {
    display: flex;
    justify-content: space-around;
}

.content__tittle{
    color: beige;
    font: bold;
    size: 20px;
}

.content__navbar {
    display: flex;
}

.content__navbar li {
    margin: 0 20px;
}

.content__navbar li a {
    color: rgb(197, 197, 180);
}


.card {
    grid-area: main;
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.5);
    transform: scale(1.3) translate(-200px);
    
}

.card__header {
    position: relative;
}

.card__header img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card__header small {
    background-color: rgba(245,245,220,0.5);
    color: beige;
    padding: 8px;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 10px;
}

.options {
    margin-top: 40px;
  }
  
  .options__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
  }

.footer {
    grid-area: footer;
    color: rgb(26, 212, 178);
    background-color: white;
    font: auto;
    width: 600px;
    height: 150px;
    margin: 10px;
}

.footer__tittle {
    display: inline;
}

.footer__subtittle{
    display: inline;
}

.footer img {
    width: 30px;
    height: 30px;
    margin: 10px;
    transform: skew(10deg);

}

@media (max-width: 992px){
    .header__content {
        flex-direction: column;
    }
    .options__grid {
        grid-template-columns: repeat(2, fr);
    }
}

@media (max-width: 552px) {
    .content__navbar {
        display: none;
    }
}
*/

